<h1>Listing dossiers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Dmyfrom</th>
      <th>Dmyto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dossiers.each do |dossier| %>
      <tr>
        <td><%= dossier.name %></td>
        <td><%= dossier.type %></td>
        <td><%= dossier.amount %></td>
        <td><%= dossier.dmyfrom %></td>
        <td><%= dossier.dmyto %></td>
        <td><%= link_to 'Show', dossier %></td>
        <td><%= link_to 'Edit', edit_dossier_path(dossier) %></td>
        <td><%= link_to 'Destroy', dossier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dossier', new_dossier_path %>
